/* HOME */

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}
.content-home .lien {
  text-decoration: none;
}

.header-home {
  height: 100px;
  background-color: #ee161e;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.header-home img {
  height: 80px;
}

.picture-input {
  display: flex;
  /* border: solid black 1px; */
  align-items: center;
  gap: 150px;
  flex: 5;
}

.header-home input {
  width: 50%;
  padding: 15px;
  border-radius: 30px;
  border: 0px;
}

.header-home nav {
  display: flex;
  flex: 2;
  justify-content: center;
}

.favoris {
  display: flex;
  color: white;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  padding-right: 30px;
}

.header-home .lien {
  text-decoration: none;
  color: white;
}

.imagefond {
  background-image: url("https://images.alphacoders.com/948/948697.jpg");
  background-size: cover;
}

.content-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  /* background-color: black; */
}

.content-home div {
  /* border: solid black 2px; */
  background-color: white;
  opacity: 50%;
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 100px;
}
.content-home h1 {
  font-size: 90px;
  font-weight: bold;
  padding: 40px;
}
.content-home div :hover {
  opacity: 50%;
}
/* PERSONNAGES */

.background {
  background-color: black;
}
.container {
  max-width: 1200px;
  /* background-color: lavender; */
  margin: 0 auto;
}

.perso-container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

.perso-big-card {
  background-color: black;
  /* border: solid 2px blue; */
  width: 260px;
  height: 300px;
}

.perso-big-card :hover {
  opacity: 90%;
}

.perso-card {
  border: solid black 1px;
  height: 250px;
  width: 260px;
}
.perso-container .lien {
  text-decoration: none;
}

.perso-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: saddlebrown; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.perso-info h2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.addFavoris {
  font-size: 20px;
  cursor: pointer;
}
.addFavoris i {
  color: #ffc91c;
}

.perso-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* COMICS */

.container {
  max-width: 1200px;
  background-color: black;
  margin: 0 auto;
}

.comics-container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

.comic-big-card {
  background-color: black;
  /* border: solid 2px blue; */
  width: 260px;
  height: 450px;
  overflow: scroll;
}

.comic-card {
  border: solid black 1px;
  height: 350px;
  width: 260px;
}
.comics-container .lien {
  text-decoration: none;
}

.comic-info {
  display: flex;
  justify-content: space-between;
  /* background-color: saddlebrown; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.comic-info h2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.comic-big-card p {
  font-family: "Roboto", sans-serif;
  line-height: 15px;
  padding-top: 10px;
  color: white;
}

.comic-big-card :hover {
  opacity: 90%;
}
.addFavoris {
  /* background-color: #ee161e; */
  color: white;
  font-size: 22px;
}

.comic-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* PAGINATION */

.pagination {
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 50px;
  margin-top: 40px;
  color: white;
}
.pagination div {
  cursor: pointer;
}

/* COMICS BY CHARACTERID */

.header-comicsByPerso {
  height: 100px;
  background-color: #ee161e;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.header-comicsByPerso img {
  height: 80px;
}

.header-comicsByPerso nav {
  display: flex;
  justify-content: center;
}

.favoris {
  display: flex;
  color: white;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}

.header-comicsByPerso .lien {
  text-decoration: none;
  color: white;
}

.container2 {
  background-color: black;
}
.comicsbyid-content {
  background-color: black;
  /* border: solid black 1px; */
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  border-left: #ffc91c solid 5px;
  padding: 10px;
  color: white;
}

.characterPic {
  background-color: lightpink;
  width: 30%;
}
.characterPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel {
  background-color: black;
  display: flex;
  width: 70%;
  overflow-x: scroll;
  gap: 20px;
}

.carousel h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel p {
  font-family: "Roboto", sans-serif;
}
.carousel img {
  height: 500px;
}

/* FAVORIS */

.favoris-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}
.character-favoris-content {
  margin-top: 20px;
  background-color: black;
  border-left: #ffc91c solid 5px;
  padding: 10px;
}
.character-favoris-content h2 {
  font-size: 30px;
  padding-bottom: 10px;
  color: white;
}
.carousel-character {
  background-color: black;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.carousel-character p {
  font-size: 15px;
  padding-top: 5px;
}
.carousel-card-character {
  background-color: black;
}
.carousel-card-character img {
  width: 260px;
}

.comics-favoris-content {
  background-color: black;
  border-left: #ffc91c solid 5px;
  padding: 10px;
}
.comics-favoris-content h2 {
  font-size: 30px;
  padding-bottom: 10px;
  color: white;
}
.carousel-comic {
  background-color: black;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.carousel-comic p {
  font-size: 15px;
  padding-top: 5px;
}
.comic-card-character {
  background-color: black;
}
.carousel-card-comic img {
  height: 350px;
  width: 260px;
}

/* LOADING */

.loading {
  height: 100vh;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.loading i {
  color: #ffc91c;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .content-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: black; */
    margin-left: 50px;
    margin-right: 50px;
  }
  .favoris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .perso-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1000px) {
  .content-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150vh;
    /* background-color: black; */
  }
  .imagefond {
    background-image: url("https://images.alphacoders.com/948/948697.jpg");
    background-size: cover;
  }
  .perso-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
}
